body {
  margin: 0;
  color: #f1f1f1;
  display: grid;
  height: 100vh;
  grid-template-rows: .5fr 6fr .1fr;
  grid-template-columns: 150px 11fr;
  grid-template-areas:
    "header main"
    "nav main"
    "footer main";
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: 0;
  text-align: center;
  padding: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid black;
  font-weight: normal;
}

header > h1 {
  font-size: 28px;
  color: black;
 }

/* --- 3d header ---
	header > h1 {
	  margin: 0;
	  padding: 0;
	  font-size: 40px;
	  color: white;
	  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey, 1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey, 5px 13px 15px black;
	}
--- */

header > h2 {
  margin: 0;
  padding: 0.1rem;
  font-style: italic;
  color: white;
  font-size: .8rem;
  font-weight: normal;
}

header > h2 span {
  background-color: black;
}

nav {
  background-image: white;
  border-right: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
  }

li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

li > a {
  display: block;
  padding: 12px 8px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: black;
}

li:hover {
  text-decoration: none;
  color: white;
  display: block;
}

li a:hover:not(.active) {
  display: block;
  background-color: #555;
  color: white;
  transition: .25s ease;
}

ul li a.active {
  color: white;
  background-color: #555;
}

main {
  grid-area: main;
  display: grid;  
  overflow: auto;
  align-items: center;
  justify-items: center;
  font-weight: normal;
}

main > h2 {
  color: black;
  text-align: center;
}

.home-img {
  width: 80%;
  height: auto;
  padding-left: 11%;
}

.about {
  padding: 20px;
}
.about-title  {
  font-size: 24px;
  text-align: center;
  color: black;
  margin: 1rem;
}

.about-text {  /* about page text */
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 10px 30px 20px 30px;
}

.tab {
  text-indent:40px;
}

.about-img {
  width: 80%;
  height: auto;
  justify-items: center;
  margin-top: 2px;
}

/* gallery */
main > div img {
  display: grid;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
}

.gallery {
  background-color: white;
  display: grid;
  gap: 2rem;
  padding: 1rem;
/*  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer {
  color:black; /* text color */
  background-color: white 0%;
  padding: 0;
  margin: 0;
  font-size: 9px;
  border-right: 1px solid black;
  vertical-align: text-bottom;
}


/* -------------- medium resolution scale settings -------------- */


@media (max-width: 812px) {
  body {
    display: grid;
    height: 100vh;
    grid-template-rows: 5% 5% 89% 1%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  header {
    display: inline-flex;
    margin: 0;
    border-right: none;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    position: not fixed;
  }

  header h1 {
    display: inline-flex;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    flex: auto;
  }

  header h2 {
    display: inline-flex;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: .75rem;
  }

  nav {
    border-right: none;
  }

  ul {
    display: inline-flex;
    list-style-type: none;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
  }

  li {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    margin: 0;
    text-align: center;
    padding: 10px 25px;
  }

  .dropdown {
    overflow: hidden;
  }

  .home-img {
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    padding: 0;
  }

  main > div p {
    padding: 7px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: .5rem;
  }
  .footer {
    font-size: 8px;
    border-right: none;
  }
}