body {
  margin: 0;
  color: #f1f1f1;
  display: grid;
  height: 100vh;
  grid-template-rows: .5fr 6fr .1fr;
  grid-template-columns: 150px 11fr;
  grid-template-areas:
    "header main"
    "nav main"
    "footer main";
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: 0;
  text-align: center;
  padding: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid black;
  font-weight: normal;
}

header > h1 {
  font-size: 28px;
  color: black;
 }

header > h2 {
  margin: 0;
  padding: 0.1rem;
  font-style: italic;
  color: white;
  font-size: .8rem;
  font-weight: normal;
}

header > h2 span {
  background-color: black;
}

nav {
  background-image: white;
  border-right: 1px solid black;
}

nav a {
  display: block;
  padding: 12px 8px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
  display: block;
}

a:hover:not(.active) {
  display: block;
  background-color: #555;
  color: white;
  transition: .25s ease;
}

a.active {
  color: white;
  background-color: #555;
}

main {
  grid-area: main;
  display: grid;  
  overflow: auto;
  align-items: center;
  justify-items: center;
  font-weight: normal;
}

main > h2 {
  color: black;
  text-align: center;
}

.home {
    padding: 20px;
    margin: 0;
}

.about {
  padding: 20px;
}
.about-title  {
  font-size: 24px;
  text-align: center;
  color: black;
  margin: 1rem;
}

.about-text {  /* about page text */
  font-size: 14px;
  text-align: center;
  color: black;
  padding: 10px 100px 20px 100px;
}

.tab {
  text-indent:40px;
}

.about-img {
  height: auto;
  justify-items: center;
  margin-top: 2px;
}

main > div img {
  max-width: 100%;
}

.gallery {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer {
  color:black; /* text color */
  padding: 0;
  margin: 0;
  font-size: 9px;
  border-right: 1px solid black;
  vertical-align: text-bottom;
}


/* -------------- medium resolution scale settings -------------- */


@media (max-width: 812px) {
  body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .content-wrap {
      padding-bottom: 10px;
  }

  header {
    width: 100%;
    margin: 0;
    border-right: none;
    padding: 0;
    position: absolute;
  }

  header h1 {
    float: left;
    display: inline-flex;
    font-size: 1.5em;
    flex: auto;
    padding: 5px;
  }

  header h2 {
    float: right;
    display: inline-flex;
    padding: 5px;
    font-size: .75rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    border-right: none;
    border-bottom: 1px solid black;
    padding-top: 10%;
  }

  nav a {
    width: 25%;
    height: 1.6em;
    text-align: center;
    padding: 0;
    padding-top: .6em;
    text-decoration: none;
  }

  .home-img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  main {
      margin-top: 20%;
  }

  main > div p {
    padding: 7px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: 5px;
    margin-bottom: 10px;
  }

  .about-text {  /* about page text */
    font-size: 14px;
    text-align: center;
    color: black;
    padding: 0px 10px 50px 0px;
  }

  .footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 8px;
    height: 10px;
    border-right: none;
  }
}