html {
  /* font-family: 'Open Sans', sans-serif; */
  letter-spacing: .015rem;
  /* text-shadow: 0.1rem 0.1rem .8rem black; */
}

body {
  margin: 0;
  background-color: #ffebad;
  display: grid;
  height: 98vh;
  grid-template-rows: 1.4fr 6fr .1fr;
  grid-template-columns: .75fr 5fr;
  grid-template-areas:
    "header main"
    "nav main"
    "footer main";
  border: 8px solid black;
}

header {
  margin: 0;
  text-align: center;
  padding: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid black;
}

header > h1 {
  font-size: 28px;
  color: black;
  padding: 5px;
 }

header > h3 {
  display: grid;
  margin: 0;
  padding: 0.3rem;
  font-style: italic;
  color: white;
  font-size: .8rem;
  text-shadow: none;
}

header > h3 span {
  background-color: black;
  padding: .4em;
}

nav {
  border-right: 1px solid black;
}

nav a {
  display: block;
  padding: 12px 8px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: white;
  display: block;
}

nav a:hover:not(.active) {
  display: block;
  background-color: #222;
  color: white;
  transition: .25s ease;
}

nav a.active {
  color: white;
  background-color: black;
  font-style: italic;
  font-weight: lighter;
  text-shadow: none;
}

main {
  grid-area: main;
  display: grid;  
  align-items: center;
  justify-items: center;
  overflow: auto;
}

main > h3 {
  color: black;
  text-align: center;
}

.about {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.about-title  {
  font-size: 24px;
  text-align: center;
  color: black;
  margin: 1rem;
}

.about-text {  /* about page text */
  text-align: center;
  padding: 0em 5em 0em 5em;
  line-height: 1.5em;
}

.tab {
  text-indent:40px;
}

.about-img {
  padding: 5em;
}

main > div img {
  max-width: 100%;
}

.gallery#home {
  grid-template-columns: 1fr;
}

.banner-scroll-img {
  max-height: 90vh;
  margin: 1em;
}

.gallery {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.gallery-boxes a#street {
  font-variant: petite-caps;
}

.gallery-boxes a#hats {
  text-decoration: overline 1px wavy;
}
.gallery-boxes a#hats div {
  border-top: 2px solid;
}

.gallery-boxes a#blur {
  text-shadow: 0 0 12px black;
}
.gallery-boxes a#inanimate {
  font-variant: all-small-caps;
  font-family: monospace;
}
.gallery-boxes a#sets {
  font-variant-caps: all-small-caps;
}
.gallery-boxes a#sets div {
  background-color: white;
  padding: 1em;
}
.gallery-boxes a#sets div span {
  padding: .25em;
  margin: .25em;
  border: 1px solid;
}

.gallery-boxes a#self {
  display: flex;
  flex-direction: column;
}
.gallery-boxes a#self:after {
  content:"Self";
  transform: rotate(180deg) scaleX(-1);
  opacity:0.5;
  font-style: italic;
}

.gallery-boxes a#sleep {
  font-style: italic;
  border: 1px solid black wavy;
}

.gallery-boxes a#walkers {
  letter-spacing: 2px;
}
.gallery-boxes a#walkers div span:nth-child(odd) {
  vertical-align: text-top;
}
.gallery-boxes a#walkers div span:nth-child(even) {
  vertical-align: text-bottom;
}

.gallery-boxes a#midway-city {
  text-decoration: line-through 2px #ffebad;
}

.footer {
  padding: 3px;
  margin: 0;
  font-size: 9px;
  border-right: 1px solid black;
  vertical-align: text-bottom;
  bottom: 0;
}

/* -------------- gallery page -------------- */

.gallery-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  gap: 1rem;
  margin: 1em;
}

.gallery-boxes a {
  margin: 2em;
  padding: 4em 3em;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid darkgoldenrod;
  color: black;
  font-size: 14px;
}

/* -------------- contact form styling -------------- */

.contact-text {
  display: flex;
  align-items: center;
}
h1.form-title {
  font-style: normal;
}
form {
  margin: 4em auto;
  width: 90%;
}

form ul {
  width: auto;
}

form li {
  margin-top: 1em;
}
input[type=text], textarea {
  width: -webkit-fill-available;
  padding: 1em;
  border: 1px solid #ccc;
  font-size: 14px;
}

label {
  display: inline-block;
}

textarea {
  height: 110px;
  font-family: inherit;
}

button {
  display: block;
  background-color: red;
  color: white;
  padding: 20px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  background-color: #bb0000;
}

/* -------------- mobile resolution styling -------------- */


@media (max-width: 813px) {
  body {
    display: flex;
    flex-direction: column;
    border: none;
  }

  header {
    border-right: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header h1 {
    float: left;
    font-size: 1.5em;
    padding: 5px;
    text-align: start;
  }

  header h3 {
    text-align: end;
    width: 50%;
  }

  nav {
    display: flex;
    border-right: none;
    border-bottom: 1px solid black;
  }

  nav a {
    width: 25%;
    text-align: center;
    padding: .6em;
    border-top: 1px solid #555;
  }

  nav li a {
    padding: 0;
    display: flex;
    width: -webkit-fill-available;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: -webkit-fill-available;
    overflow: overlay;
  }

  main > div p {
    padding: 7px;
  }

  #home a.lightbox img {
    max-height: 100vh;
  }

  .banner-scroll-img {
    align-self: flex-start;
    margin: 1rem;
    height: 95%;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    min-height: 100%;
    height: -webkit-fill-available;
  }

  .gallery-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-boxes a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em 1em;
    height: 2rem;
    width: 6rem;
  }

  a.lightbox img {
    max-height: 100%;
  }

  .about-text {
    font-size: 14px;
    text-align: center;
    color: black;
    padding: 0px 0px 50px 0px;
  }

  .about-img {
    padding: 1em;
  }

  .footer {
    border-right: none;
  }
}